body {
    background-color: lightgreen;
    font-family: 'Mango Grotesque';
    cursor: default;
}


@font-face {
    font-family: 'Mango Grotesque';
    src:    url('./fonts/MangoGrotesque-SemiBold.woff') format('woff'),
            url('./fonts/MangoGrotesque-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto 1fr;
}

.header {
    margin: 3rem 1rem 0rem 3rem;
    padding: 10px;
    vertical-align: top;
    font-size: 9rem;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

.header p {
    margin: auto;
}

b {
  padding: 10px 10px 0px 10px;
  background: linear-gradient(to right, black 50%, lightgreen 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  color: black;
  transition: all .6s ease-out;
}

b:hover {
    background-position: left bottom;
    color: lightgreen;  
  }
b:hover:after{
  content: url(../../assets/img/mini.png);
  position: absolute;
  left: 27%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-img {
    margin: 3rem 0rem 0rem 0rem;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}

.header-img img{
    max-width: 400px;
    height: auto;
    object-fit: scale-down;
}

.header-img img:hover {
    animation: shake 0.5s infinite ease-in-out;

}

@keyframes shake {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(-5deg);}
    50% {transform: rotate(0deg);}
    70% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
 }

.text {
    margin: 0rem .5rem .5rem 3rem;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

.nyt-quote {
    margin: 0rem .5rem .5rem 3.5rem;
}

.goback {
    margin: 4rem 0rem 0rem 0rem;
    padding: 10px;
    vertical-align: bottom;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.gonext {
    margin: 4rem 0rem 0rem 0rem;
    padding: 10px;
    vertical-align: bottom;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 3;
}


.btn{
    font-family: 'Helvetica';
    font-size: 1rem;
    border: solid black 1px;
    /* outline:none; */
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;

}

.btn:hover{
    background-color:#ddd;
}

/* button {
    margin: auto;
    font-family: 'Mango Grotesque';
    border: 3px solid black;
    border-radius: 50px;
    padding: 2rem;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    background-color: lightgreen;
    position: relative;
  }
  
  button:hover {
    background-color: black;
    color: lightgreen;
    transition: background-color .5s ease-in-out;
    transition: color .5s ease-in-out;
  } */

/* button:hover:after {
    content: url(../../assets/img/ss.png);
    position: absolute;
    left: 80%;
    top: 0%;
    transform: translate(-50%, -50%);
} */