*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica';
    height: 100vh;
    background-color: lightgreen;
    /* display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));    
    grid-template-rows: auto;
    column-gap: .25rem;
    row-gap: .25rem; */
}

@font-face {
    font-family: 'Mango Grotesque';
    src:    url('./fonts/MangoGrotesque-SemiBold.woff') format('woff'),
            url('./fonts/MangoGrotesque-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.banner {
    position: sticky;
    top: 0;
    z-index: 10;
    /* width: 150rem; */
}

.rating {
    background-color: lightgreen;
    font-family: 'Mango Grotesque';
    padding: .5rem 0rem 0rem 0rem;
    font-size: 5rem;
}

.menu {
    float: left;
    width: 15%;
    padding: 1rem;
    background: lightgreen;
    color:black;
    overflow: scroll;
}

.article {
    float: left;
    width: 85%;
    height: 100%;
    background: #f1f1f1;
    overflow: scroll;
    padding: .5rem;
}

.article {
    /* display: grid; */
    margin: auto;
    /* grid-template-columns: repeat(4, minmax(0, 1fr));    
    grid-template-rows: auto;
    column-gap: .25rem;
    row-gap: .25rem; */
}

b {
  padding: 10px 10px 0px 10px;
  background: linear-gradient(to right, black 50%, lightgreen 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  color: black;
  transition: all .6s ease-out;
}

b:hover {
    background-position: left bottom;
    color: lightgreen;  
  }
b:hover:after{
  content: url(../../assets/img/mini.png);
  position: absolute;
  left: 27%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-img {
    position: relative;
    padding: 0rem 1rem 0rem 0rem;
    top: 30%;
    left: 75%;
    z-index: 4;
    /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 0;
    grid-row-end: 1; */
}


.header-img img{
    max-width: 100px;
    height: auto;
    object-fit: scale-down;
    rotate: 25deg;
}

.text {
    position: relative;
    padding: 1.5rem;
    font-family: 'Helvetica';
    width: 50%;
    z-index: 1;
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1; */
}

.nyt-quote {
    margin: 0rem .5rem .5rem 3.5rem;
}

.goback {
    margin: 4rem 0rem 0rem 0rem;
    padding: 10px;
    vertical-align: bottom;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.gonext {
    margin: 4rem 0rem 0rem 0rem;
    padding: 10px;
    vertical-align: bottom;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

#buttons {
    margin: auto;
    padding: .25rem;
    position: relative;
    align-self: center;
    align-content: center;
}

.btn{
    font-family: 'Helvetica';
    font-size: 1rem;
    border: solid black 1px;
    /* outline:none; */
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 8.5rem;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover{
    background-color:#ddd;
}